@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  @apply text-2xl font-bold mb-4;
}

h3 {
  @apply text-lg font-bold mb-4;
}

h4 {
  @apply text-sm font-bold mb-2;
}

.hyperlink {
  @apply text-blue-600 hover:underline;
}

.inputText {
  @apply border rounded px-2 py-1 focus:outline-none focus:ring-1 mb-1;
}

.btn {
  @apply bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600 hover:cursor-pointer;
}

.btn-green {
  @apply bg-green-600 text-white px-4 py-1 rounded hover:bg-green-600 hover:cursor-pointer;
}